## Linear Regression: Predicting House Sale Prices

![alt text](https://www.pewresearch.org/wp-content/uploads/2021/08/FT_21.08.17_BigHousesSmallHouses_feature.jpg)

We will work with housing data for the city of Ames, Iowa, United States from 2006 to 2010. Our aim is to predict house sale prices using a machine learning linear regression model. You can read more about why the data was collected [here](https://doi.org/10.1080/10691898.2011.11889627). You can also read about the different columns in the data [here](https://s3.amazonaws.com/dq-content/307/data_description.txt).

### 1. Initial exploration of data

In [1]:
#Importing all necessary tools and setting options
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.linear_model import LinearRegression
from sklearn.model_selection import KFold
from sklearn.metrics import mean_squared_error

%matplotlib inline
pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', 50)

Summary of the data set:

In [2]:
houses = pd.read_csv('AmesHousing.tsv', delimiter='\t')

missing_values = houses.isnull().sum()*100/len(houses)

print(f'\033[1mNumber of houses:\033[0m   {houses.shape[0]:,}\n'
      f'\033[1mNumber of features:\033[0m {houses.shape[1]}\n\n'
      f'\033[1mMissing values by column, in %:\033[0m\n'
      f'{missing_values[missing_values > 0].sort_values(ascending=False).round(2)}\n\n'
      f'\033[1mColumn names:\033[0m\n'
      f'{houses.columns}')
houses.head()

Number of houses:   2,930
Number of features: 82

Missing values by column, in %:
Pool QC           99.56
Misc Feature      96.38
Alley             93.24
Fence             80.48
Fireplace Qu      48.53
Lot Frontage      16.72
Garage Cond        5.43
Garage Qual        5.43
Garage Finish      5.43
Garage Yr Blt      5.43
Garage Type        5.36
Bsmt Exposure      2.83
BsmtFin Type 2     2.76
BsmtFin Type 1     2.73
Bsmt Qual          2.73
Bsmt Cond          2.73
Mas Vnr Area       0.78
Mas Vnr Type       0.78
Bsmt Half Bath     0.07
Bsmt Full Bath     0.07
Total Bsmt SF      0.03
Bsmt Unf SF        0.03
Garage Cars        0.03
Garage Area        0.03
BsmtFin SF 2       0.03
BsmtFin SF 1       0.03
Electrical         0.03
dtype: float64

Column names:
Index(['Order', 'PID', 'MS SubClass', 'MS Zoning', 'Lot Frontage', 'Lot Area',
       'Street', 'Alley', 'Lot Shape', 'Land Contour', 'Utilities',
       'Lot Config', 'Land Slope', 'Neighborhood', 'Condition 1',
       'Condition 2', 'Bldg Type', 'House Style', 'Overall Qual',
       'Overall Cond', 'Year Built', 'Year Remod/Add', 'Roof Style',
       'Roof Matl', 'Exterior 1st', 'Exterior 2nd', 'Mas Vnr Type',
       'Mas Vnr Area', 'Exter Qual', 'Exter Cond', 'Foundation', 'Bsmt Qual',
       'Bsmt Cond', 'Bsmt Exposure', 'BsmtFin Type 1', 'BsmtFin SF 1',
       'BsmtFin Type 2', 'BsmtFin SF 2', 'Bsmt Unf SF', 'Total Bsmt SF',
       'Heating', 'Heating QC', 'Central Air', 'Electrical', '1st Flr SF',
       '2nd Flr SF', 'Low Qual Fin SF', 'Gr Liv Area', 'Bsmt Full Bath',
       'Bsmt Half Bath', 'Full Bath', 'Half Bath', 'Bedroom AbvGr',
       'Kitchen AbvGr', 'Kitchen Qual', 'TotRms AbvGrd', 'Functional',
       'Fireplaces', 'Fireplace Qu', 'Garage Type', 'Garage Yr Blt',
       'Garage Finish', 'Garage Cars', 'Garage Area', 'Garage Qual',
       'Garage Cond', 'Paved Drive', 'Wood Deck SF', 'Open Porch SF',
       'Enclosed Porch', '3Ssn Porch', 'Screen Porch', 'Pool Area', 'Pool QC',
       'Fence', 'Misc Feature', 'Misc Val', 'Mo Sold', 'Yr Sold', 'Sale Type',
       'Sale Condition', 'SalePrice'],
      dtype='object')

,Order,PID,MS SubClass,MS Zoning,Lot Frontage,Lot Area,Street,Alley,Lot Shape,Land Contour,Utilities,Lot Config,Land Slope,Neighborhood,Condition 1,Condition 2,Bldg Type,House Style,Overall Qual,Overall Cond,Year Built,Year Remod/Add,Roof Style,Roof Matl,Exterior 1st,...,Fireplaces,Fireplace Qu,Garage Type,Garage Yr Blt,Garage Finish,Garage Cars,Garage Area,Garage Qual,Garage Cond,Paved Drive,Wood Deck SF,Open Porch SF,Enclosed Porch,3Ssn Porch,Screen Porch,Pool Area,Pool QC,Fence,Misc Feature,Misc Val,Mo Sold,Yr Sold,Sale Type,Sale Condition,SalePrice
0,1,526301100,20,RL,141.0,31770,Pave,NaN,IR1,Lvl,AllPub,Corner,Gtl,NAmes,Norm,Norm,1Fam,1Story,6,5,1960,1960,Hip,CompShg,BrkFace,...,2,Gd,Attchd,1960.0,Fin,2.0,528.0,TA,TA,P,210,62,0,0,0,0,NaN,NaN,NaN,0,5,2010,WD,Normal,215000
1,2,526350040,20,RH,80.0,11622,Pave,NaN,Reg,Lvl,AllPub,Inside,Gtl,NAmes,Feedr,Norm,1Fam,1Story,5,6,1961,1961,Gable,CompShg,VinylSd,...,0,NaN,Attchd,1961.0,Unf,1.0,730.0,TA,TA,Y,140,0,0,0,120,0,NaN,MnPrv,NaN,0,6,2010,WD,Normal,105000
2,3,526351010,20,RL,81.0,14267,Pave,NaN,IR1,Lvl,AllPub,Corner,Gtl,NAmes,Norm,Norm,1Fam,1Story,6,6,1958,1958,Hip,CompShg,Wd Sdng,...,0,NaN,Attchd,1958.0,Unf,1.0,312.0,TA,TA,Y,393,36,0,0,0,0,NaN,NaN,Gar2,12500,6,2010,WD,Normal,172000
3,4,526353030,20,RL,93.0,11160,Pave,NaN,Reg,Lvl,AllPub,Corner,Gtl,NAmes,Norm,Norm,1Fam,1Story,7,5,1968,1968,Hip,CompShg,BrkFace,...,2,TA,Attchd,1968.0,Fin,2.0,522.0,TA,TA,Y,0,0,0,0,0,0,NaN,NaN,NaN,0,4,2010,WD,Normal,244000
4,5,527105010,60,RL,74.0,13830,Pave,NaN,IR1,Lvl,AllPub,Inside,Gtl,Gilbert,Norm,Norm,1Fam,2Story,5,5,1997,1998,Gable,CompShg,VinylSd,...,1,TA,Attchd,1997.0,Fin,2.0,482.0,TA,TA,Y,212,34,0,0,0,0,NaN,MnPrv,NaN,0,3,2010,WD,Normal,189900

### 2. Feature Engineering
2.1 Handle missing values:
- All columns:
 - Drop any with 5% or more missing values and fill in the rest with mode
- Numerical columns:
 - For columns with missing values, fill in with the most common value in that column
 
2.2 Creating new features

2.3 Dropping  features that:
- aren't useful for machine learning,
- leak data about the final sale.

2.4 Create functions to automatize all steps


##### 2.1 Handle missing values
Drop any column with 5% or more missing values for now.

In [3]:
print(f'{missing_values[missing_values > 5].sort_values(ascending=False).round(2)}\n\n')

Pool QC          99.56
Misc Feature     96.38
Alley            93.24
Fence            80.48
Fireplace Qu     48.53
Lot Frontage     16.72
Garage Yr Blt     5.43
Garage Finish     5.43
Garage Qual       5.43
Garage Cond       5.43
Garage Type       5.36
dtype: float64

In [4]:
houses_few_missing = houses[missing_values[missing_values < 5].index]

houses_few_missing.shape

(2930, 71)

For the remaining features with missing values (less or equal to 5%), let's fill in the missing values using the most frequent value from the corresponding feature for categorical/discret features and mean for numerical continuous features.

In [5]:
print(f'{missing_values[(missing_values <= 5)&(missing_values > 0)].sort_values(ascending=False).round(2)}')

Bsmt Exposure     2.83
BsmtFin Type 2    2.76
Bsmt Qual         2.73
Bsmt Cond         2.73
BsmtFin Type 1    2.73
Mas Vnr Type      0.78
Mas Vnr Area      0.78
Bsmt Full Bath    0.07
Bsmt Half Bath    0.07
BsmtFin SF 1      0.03
BsmtFin SF 2      0.03
Bsmt Unf SF       0.03
Total Bsmt SF     0.03
Electrical        0.03
Garage Cars       0.03
Garage Area       0.03
dtype: float64

In [6]:
col_low5 = missing_values[(missing_values <= 5)&(missing_values > 0)].index
houses_few_missing[col_low5].head(5)

,Mas Vnr Type,Mas Vnr Area,Bsmt Qual,Bsmt Cond,Bsmt Exposure,BsmtFin Type 1,BsmtFin SF 1,BsmtFin Type 2,BsmtFin SF 2,Bsmt Unf SF,Total Bsmt SF,Electrical,Bsmt Full Bath,Bsmt Half Bath,Garage Cars,Garage Area
0,Stone,112.0,TA,Gd,Gd,BLQ,639.0,Unf,0.0,441.0,1080.0,SBrkr,1.0,0.0,2.0,528.0
1,None,0.0,TA,TA,No,Rec,468.0,LwQ,144.0,270.0,882.0,SBrkr,0.0,0.0,1.0,730.0
2,BrkFace,108.0,TA,TA,No,ALQ,923.0,Unf,0.0,406.0,1329.0,SBrkr,0.0,0.0,1.0,312.0
3,None,0.0,TA,TA,No,ALQ,1065.0,Unf,0.0,1045.0,2110.0,SBrkr,1.0,0.0,2.0,522.0
4,None,0.0,Gd,TA,No,GLQ,791.0,Unf,0.0,137.0,928.0,SBrkr,0.0,0.0,2.0,482.0

We will divide columns into continuous and categorical/discreet:

In [7]:
num_cont = ['Mas Vnr Area', 'BsmtFin SF 1', 
       'BsmtFin SF 2', 'Bsmt Unf SF', 'Total Bsmt SF', 'Garage Area']
cat_dis = ['Mas Vnr Type','Bsmt Qual', 'Bsmt Cond',
       'Bsmt Exposure', 'BsmtFin Type 1','BsmtFin Type 2','Electrical',
       'Bsmt Full Bath', 'Bsmt Half Bath', 'Garage Cars']

In [8]:
for col in num_cont:
    houses_few_missing.loc[:, col].fillna(houses_few_missing[col].mean(), inplace=True)
    
houses_few_missing[num_cont].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2930 entries, 0 to 2929
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Mas Vnr Area   2930 non-null   float64
 1   BsmtFin SF 1   2930 non-null   float64
 2   BsmtFin SF 2   2930 non-null   float64
 3   Bsmt Unf SF    2930 non-null   float64
 4   Total Bsmt SF  2930 non-null   float64
 5   Garage Area    2930 non-null   float64
dtypes: float64(6)
memory usage: 137.5 KB

C:\Users\dszweda\Anaconda3\lib\site-packages\pandas\core\series.py:4463: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().fillna(

In [9]:
for col in cat_dis:
    houses_few_missing[col].fillna(houses_few_missing[col].mode()[0], inplace=True)
    
houses_few_missing[cat_dis].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2930 entries, 0 to 2929
Data columns (total 10 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Mas Vnr Type    2930 non-null   object
 1   Bsmt Qual       2930 non-null   object
 2   Bsmt Cond       2930 non-null   object
 3   Bsmt Exposure   2930 non-null   object
 4   BsmtFin Type 1  2930 non-null   object
 5   BsmtFin Type 2  2930 non-null   object
 6   Electrical      2930 non-null   object
 7   Bsmt Full Bath  2930 non-null   float64
 8   Bsmt Half Bath  2930 non-null   float64
 9   Garage Cars     2930 non-null   float64
dtypes: float64(3), object(7)
memory usage: 229.0+ KB

There is no more missing values in the dataset

In [10]:
houses_no_missing = houses_few_missing
houses_no_missing.isnull().sum().value_counts()

0    71
dtype: int64

##### 2.2 Creating new features

What new features can we create, that better capture the information in some of the features?
The features Yr Sold, Year Remod/Add, and Year Built are not so informative. It would be better to know the number of years passed after each house was built and remodeled.

In [11]:
years_sold = houses_no_missing['Yr Sold'] - houses_no_missing['Year Built']
years_sold[years_sold < 0]

2180   -1
dtype: int64

In [12]:
years_since_remod = houses_no_missing['Yr Sold'] - houses_no_missing['Year Remod/Add']
years_since_remod[years_since_remod < 0]

1702   -1
2180   -2
2181   -1
dtype: int64

In [13]:
## Create new columns
houses_no_missing['Years Before Sale'] = years_sold
houses_no_missing['Years Since Remod'] = years_since_remod

## Drop rows with negative values for both of these new features
houses_no_missing = houses_no_missing.drop([1702, 2180, 2181], axis=0)

## No longer need original year columns
houses_no_missing = houses_no_missing.drop(["Year Built", "Year Remod/Add"], axis = 1)

<ipython-input-13-93f553a32ba0>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  houses_no_missing['Years Before Sale'] = years_sold
<ipython-input-13-93f553a32ba0>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  houses_no_missing['Years Since Remod'] = years_since_remod

##### 2.3 Dropping features

Let's remove the features that:
- aren't useful for machine learning (Order, PID),
- leak information about the sale (Mo Sold, Sale Type, Sale Condition, Yr Sold).

In [14]:
#Drop columns that aren't useful for ML
houses_no_missing = houses_no_missing.drop(["PID", "Order"], axis=1)

#Drop columns that leak info about the final sale
houses_no_missing = houses_no_missing.drop(["Mo Sold", "Sale Condition", "Sale Type", "Yr Sold"], axis=1)

##### 2.4 Create functions to automatize all steps

In [15]:
#Transforming features

def transform_features(df):
    #Removing columns with more than 5% missing data
    df_copy = df.copy()
    missing_values = df_copy.isnull().sum()*100/len(houses)
    df_copy_2 = df_copy[missing_values[missing_values < 5].index]
    
    #Splitting remaining columns with missing values to numerical continuous and categorical/discrete
    num_cont = ['Mas Vnr Area', 'BsmtFin SF 1', 
       'BsmtFin SF 2', 'Bsmt Unf SF', 'Total Bsmt SF', 'Garage Area']
    cat_dis = ['Mas Vnr Type','Bsmt Qual', 'Bsmt Cond',
       'Bsmt Exposure', 'BsmtFin Type 1','BsmtFin Type 2','Electrical',
       'Bsmt Full Bath', 'Bsmt Half Bath', 'Garage Cars']
    
    #Filling in the missing values using the mode for categorical/discret features 
    #and mean for numerical continuous features.
    for col in num_cont:
        df_copy_2.loc[:, col].fillna(df_copy_2[col].mean(), inplace=True)
    for col in cat_dis:
        df_copy_2[col].fillna(df_copy_2[col].mode()[0], inplace=True)
    
    #Create new columns
    years_sold = df_copy_2['Yr Sold'] - df_copy_2['Year Built']
    years_since_remod = df_copy_2['Yr Sold'] - df_copy_2['Year Remod/Add']
    df_copy_2['Years Before Sale'] = years_sold
    df_copy_2['Years Since Remod'] = years_since_remod
    
    #Drop rows with negative values for both of these new features
    df3 = df_copy_2.drop([1702, 2180, 2181], axis=0)
    
    #No longer need original year columns
    df3 = df3.drop(["Year Built", "Year Remod/Add"], axis = 1)
    
    #Drop columns that aren't useful for ML
    df3 = df3.drop(["PID", "Order"], axis=1)

    #Drop columns that leak info about the final sale
    df3 = df3.drop(["Mo Sold", "Sale Condition", "Sale Type", "Yr Sold"], axis=1) 
    
    return df3

### 3. Feature Selection

Now, we're going to select the features that we'll use for further machine learning modeling.

#### 3.1. Numerical features
First we will create correlation matrix of the numerical features and the target - Sale Price.

In [16]:
num_corr = houses_no_missing.select_dtypes(['int64', 'float64'])
num_corr.head(5)

,MS SubClass,Lot Area,Overall Qual,Overall Cond,Mas Vnr Area,BsmtFin SF 1,BsmtFin SF 2,Bsmt Unf SF,Total Bsmt SF,1st Flr SF,2nd Flr SF,Low Qual Fin SF,Gr Liv Area,Bsmt Full Bath,Bsmt Half Bath,Full Bath,Half Bath,Bedroom AbvGr,Kitchen AbvGr,TotRms AbvGrd,Fireplaces,Garage Cars,Garage Area,Wood Deck SF,Open Porch SF,Enclosed Porch,3Ssn Porch,Screen Porch,Pool Area,Misc Val,SalePrice,Years Before Sale,Years Since Remod
0,20,31770,6,5,112.0,639.0,0.0,441.0,1080.0,1656,0,0,1656,1.0,0.0,1,0,3,1,7,2,2.0,528.0,210,62,0,0,0,0,0,215000,50,50
1,20,11622,5,6,0.0,468.0,144.0,270.0,882.0,896,0,0,896,0.0,0.0,1,0,2,1,5,0,1.0,730.0,140,0,0,0,120,0,0,105000,49,49
2,20,14267,6,6,108.0,923.0,0.0,406.0,1329.0,1329,0,0,1329,0.0,0.0,1,1,3,1,6,0,1.0,312.0,393,36,0,0,0,0,12500,172000,52,52
3,20,11160,7,5,0.0,1065.0,0.0,1045.0,2110.0,2110,0,0,2110,1.0,0.0,2,1,3,1,8,2,2.0,522.0,0,0,0,0,0,0,0,244000,42,42
4,60,13830,5,5,0.0,791.0,0.0,137.0,928.0,928,701,0,1629,0.0,0.0,2,1,3,1,6,1,2.0,482.0,212,34,0,0,0,0,0,189900,13,12

In [17]:
corr = num_corr.corr()['SalePrice'].abs().sort_values(ascending=False)
corr

SalePrice            1.000000
Overall Qual         0.801206
Gr Liv Area          0.717596
Garage Cars          0.648361
Total Bsmt SF        0.643601
Garage Area          0.641675
1st Flr SF           0.635185
Years Before Sale    0.558979
Full Bath            0.546118
Years Since Remod    0.534985
Mas Vnr Area         0.510611
TotRms AbvGrd        0.498574
Fireplaces           0.474831
BsmtFin SF 1         0.438928
Wood Deck SF         0.328183
Open Porch SF        0.316262
Half Bath            0.284871
Bsmt Full Bath       0.276258
2nd Flr SF           0.269601
Lot Area             0.267520
Bsmt Unf SF          0.182248
Bedroom AbvGr        0.143916
Enclosed Porch       0.128685
Kitchen AbvGr        0.119760
Screen Porch         0.112280
Overall Cond         0.101540
MS SubClass          0.085128
Pool Area            0.068438
Low Qual Fin SF      0.037629
Bsmt Half Bath       0.035875
3Ssn Porch           0.032268
Misc Val             0.019273
BsmtFin SF 2         0.006000
Name: SalePrice, dtype: float64

Let's keep only the features with a correlation coefficient higher or equal to 0.4. Again, this cut-off is tentative and can be reconsidered for the sake of testing different models.

In [18]:
#We choose only features with correlation with 'SalePrice > 0.4
houses_no_missing = houses_no_missing.drop(corr[corr < 0.4].index, axis=1)
houses_no_missing.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2927 entries, 0 to 2929
Data columns (total 46 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   MS Zoning          2927 non-null   object
 1   Street             2927 non-null   object
 2   Lot Shape          2927 non-null   object
 3   Land Contour       2927 non-null   object
 4   Utilities          2927 non-null   object
 5   Lot Config         2927 non-null   object
 6   Land Slope         2927 non-null   object
 7   Neighborhood       2927 non-null   object
 8   Condition 1        2927 non-null   object
 9   Condition 2        2927 non-null   object
 10  Bldg Type          2927 non-null   object
 11  House Style        2927 non-null   object
 12  Overall Qual       2927 non-null   int64
 13  Roof Style         2927 non-null   object
 14  Roof Matl          2927 non-null   object
 15  Exterior 1st       2927 non-null   object
 16  Exterior 2nd       2927 non-null   object
 17  Mas Vnr Type       2927 non-null   object
 18  Mas Vnr Area       2927 non-null   float64
 19  Exter Qual         2927 non-null   object
 20  Exter Cond         2927 non-null   object
 21  Foundation         2927 non-null   object
 22  Bsmt Qual          2927 non-null   object
 23  Bsmt Cond          2927 non-null   object
 24  Bsmt Exposure      2927 non-null   object
 25  BsmtFin Type 1     2927 non-null   object
 26  BsmtFin SF 1       2927 non-null   float64
 27  BsmtFin Type 2     2927 non-null   object
 28  Total Bsmt SF      2927 non-null   float64
 29  Heating            2927 non-null   object
 30  Heating QC         2927 non-null   object
 31  Central Air        2927 non-null   object
 32  Electrical         2927 non-null   object
 33  1st Flr SF         2927 non-null   int64
 34  Gr Liv Area        2927 non-null   int64
 35  Full Bath          2927 non-null   int64
 36  Kitchen Qual       2927 non-null   object
 37  TotRms AbvGrd      2927 non-null   int64
 38  Functional         2927 non-null   object
 39  Fireplaces         2927 non-null   int64
 40  Garage Cars        2927 non-null   float64
 41  Garage Area        2927 non-null   float64
 42  Paved Drive        2927 non-null   object
 43  SalePrice          2927 non-null   int64
 44  Years Before Sale  2927 non-null   int64
 45  Years Since Remod  2927 non-null   int64
dtypes: float64(5), int64(9), object(32)
memory usage: 1.0+ MB

There is no columns with one unique value.

In [19]:
one_val_col = houses_no_missing.nunique()[houses_no_missing.nunique() == 1].index
one_val_col

Index([], dtype='object')

#### 3.2. Categorical features

Which categorical columns should we keep?

First let check which columns are categorical according to the documentation:

In [20]:
#Create a list of column names from documentation that are *meant* to be categorical
nominal_features = ["PID", "MS SubClass", "MS Zoning", "Street", "Alley", "Land Contour", "Lot Config", "Neighborhood", 
                    "Condition 1", "Condition 2", "Bldg Type", "House Style", "Roof Style", "Roof Matl", "Exterior 1st", 
                    "Exterior 2nd", "Mas Vnr Type", "Foundation", "Heating", "Central Air", "Garage Type", 
                    "Misc Feature", "Sale Type", "Sale Condition"]

- Which columns are currently numerical but need to be encoded as categorical instead?
- If a categorical column has hundreds of unique values (or categories), should we keep it? When we dummy code this column, hundreds of columns will need to be added back to the data frame.

Now let's check which of them are still in our data set and how many unique values they have.

In [21]:
#Which categorical columns have we still carried with us?
transform_cat_cols = []
for col in nominal_features:
    if col in houses_no_missing.columns:
        transform_cat_cols.append(col)

#How many unique values in each categorical column?
uniqueness_counts = houses_no_missing[transform_cat_cols].apply(lambda col: len(col.value_counts())).sort_values()
uniqueness_counts

Central Air      2
Street           2
Land Contour     4
Lot Config       5
Mas Vnr Type     5
Bldg Type        5
Foundation       6
Roof Style       6
Heating          6
MS Zoning        7
Roof Matl        8
Condition 2      8
House Style      8
Condition 1      9
Exterior 1st    16
Exterior 2nd    17
Neighborhood    28
dtype: int64

We will remove the features with more than 10 unique values.

In [22]:
# Aribtrary cutoff of 10 unique values (worth experimenting)
drop_nonuniq_cols = uniqueness_counts[uniqueness_counts > 10].index
houses_no_missing = houses_no_missing.drop(drop_nonuniq_cols, axis=1)

Let's conver all text columns to the dummy collumns.

In [23]:
# Select just the remaining text columns and convert to categorical
text_cols = houses_no_missing.select_dtypes(include=['object'])
for col in text_cols:
    houses_no_missing[col] = houses_no_missing[col].astype('category')
houses_no_missing.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2927 entries, 0 to 2929
Data columns (total 43 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   MS Zoning          2927 non-null   category
 1   Street             2927 non-null   category
 2   Lot Shape          2927 non-null   category
 3   Land Contour       2927 non-null   category
 4   Utilities          2927 non-null   category
 5   Lot Config         2927 non-null   category
 6   Land Slope         2927 non-null   category
 7   Condition 1        2927 non-null   category
 8   Condition 2        2927 non-null   category
 9   Bldg Type          2927 non-null   category
 10  House Style        2927 non-null   category
 11  Overall Qual       2927 non-null   int64
 12  Roof Style         2927 non-null   category
 13  Roof Matl          2927 non-null   category
 14  Mas Vnr Type       2927 non-null   category
 15  Mas Vnr Area       2927 non-null   float64
 16  Exter Qual         2927 non-null   category
 17  Exter Cond         2927 non-null   category
 18  Foundation         2927 non-null   category
 19  Bsmt Qual          2927 non-null   category
 20  Bsmt Cond          2927 non-null   category
 21  Bsmt Exposure      2927 non-null   category
 22  BsmtFin Type 1     2927 non-null   category
 23  BsmtFin SF 1       2927 non-null   float64
 24  BsmtFin Type 2     2927 non-null   category
 25  Total Bsmt SF      2927 non-null   float64
 26  Heating            2927 non-null   category
 27  Heating QC         2927 non-null   category
 28  Central Air        2927 non-null   category
 29  Electrical         2927 non-null   category
 30  1st Flr SF         2927 non-null   int64
 31  Gr Liv Area        2927 non-null   int64
 32  Full Bath          2927 non-null   int64
 33  Kitchen Qual       2927 non-null   category
 34  TotRms AbvGrd      2927 non-null   int64
 35  Functional         2927 non-null   category
 36  Fireplaces         2927 non-null   int64
 37  Garage Cars        2927 non-null   float64
 38  Garage Area        2927 non-null   float64
 39  Paved Drive        2927 non-null   category
 40  SalePrice          2927 non-null   int64
 41  Years Before Sale  2927 non-null   int64
 42  Years Since Remod  2927 non-null   int64
dtypes: category(29), float64(5), int64(9)
memory usage: 432.4 KB

In [24]:
# Create dummy columns and add back to the dataframe!
houses_no_missing = pd.concat([
    houses_no_missing, 
    pd.get_dummies(houses_no_missing.select_dtypes(include=['category']))
], axis=1).drop(text_cols,axis=1)
houses_no_missing.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2927 entries, 0 to 2929
Columns: 166 entries, Overall Qual to Paved Drive_Y
dtypes: float64(5), int64(9), uint8(152)
memory usage: 777.5 KB

In [25]:
houses_no_missing['SalePrice']

0       215000
1       105000
2       172000
3       244000
4       189900
5       195500
6       213500
7       191500
8       236500
9       189000
10      175900
11      185000
12      180400
13      171500
14      212000
15      538000
16      164000
17      394432
18      141000
19      210000
20      190000
21      170000
22      216000
23      149000
24      149900
25      142000
26      126000
27      115000
28      184000
29       96000
30      105500
31       88000
32      127500
33      149900
34      120000
35      146000
36      376162
37      306000
38      395192
39      290941
40      220000
41      275000
42      259000
43      214000
44      611657
45      224000
46      500000
47      320000
48      319900
49      205000
50      175500
51      199500
52      160000
53      192000
54      184500
55      216500
56      185088
57      180000
58      222500
59      333168
60      355000
61      260400
62      325000
63      290000
64      221000
65      410000
66      221500
67      204500
68      215200
69      262500
70      254900
71      271500
72      233000
73      181000
74      205000
75      143000
76      189000
77       99500
78      125000
79      194500
80      152000
81      171000
82       67500
83      112000
84      148000
85      138500
86      122000
87      133000
88      127000
89      169000
90      190000
91      362500
92      285000
93      260000
94      190000
95      155000
96      151000
97      149500
98      152000
99      222000
100     177500
101     177000
102     155000
103     147110
104     267916
105     254000
106     155000
107     206000
108     130500
109     230000
110     218500
111     243500
112     205000
113     212500
114     196500
115     197500
116     171000
117     142250
118     143000
119     128950
120     159000
121     178900
122     136300
123     180500
124     137500
125      84900
126     142125
127     197600
128     172500
129     116500
130      76500
131     128000
132     153000
133     132000
134     178000
135     154300
136     180000
137     190000
138     135000
139     214000
140     136000
141     165500
142     145000
143     148000
144     142000
145     167500
146     108538
147     159500
148     108000
149     135000
150     122500
151     119000
152     109000
153     105000
154     107500
155     144900
156     129000
157      97500
158     144000
159     162000
160     242000
161     132000
162     154000
163     166000
164     134800
165     160000
166     148000
167     192000
168     155000
169      80400
170      96500
171     109500
172     115000
173     143000
174     107400
175      80000
176     119000
177     130000
178     119000
179     129000
180     100000
181      12789
182     105900
183     150000
184     139000
185     240000
186      76500
187     149700
188     125500
189     122500
190     140750
191     128500
192     209500
193      87000
194     134000
195     128000
196     132000
197     139900
198     123900
199     138400
200     109500
201     140000
202     149500
203     159900
204     122000
205     110000
206      55000
207     140000
208     244400
209     173000
210     107500
211     100000
212      95000
213      93369
214     114900
215      94000
216     136000
217     136500
218     131500
219     121500
220     125000
221     154000
222     137900
223     158000
224     137250
225     160250
226     163000
227     158900
228     328000
229     270000
230      85000
231     128000
232     260000
233     230000
234     124000
235      83000
236     144500
237     129000
238     127000
239     128000
240     186000
241     308030
242     114000
243      84900
244     178000
245     270000
246     218000
247     236000
248     147000
249     245350
250     206000
251     198900
252     187000
253     320000
254     138500
255     155000
256     159000
257     191000
258     200500
259     150000
260     161750
261     128200
262     127000
263     318000
264     272000
265     237000
266     240000
267     224900
268     143750
269     143000
270     232000
271     213000
272     185500
273      84900
274     155891
275     100000
276     144000
277      64000
278     125200
279     107000
280      90000
281     140000
282     113000
283      80000
284     144500
285     104000
286     128000
287      58500
288     127000
289     126000
290     160000
291     100000
292     169000
293     257500
294     215000
295     266500
296     335000
297     203135
298     185000
299     162500
300     289000
301     125500
302      82000
303     110000
304      68400
305     102776
306      55993
307      50138
308     246000
309     254900
310     190000
311     201000
312     169900
313     170000
314     160000
315     220000
316     179781
317     174000
318     269500
319     214900
320     202900
321     378500
322     169000
323     173500
324     139000
325     166500
326      83500
327     119500
328      85000
329      76000
330      75500
331      88250
332      85500
333     130000
334     157900
335     149900
336     159000
337     136000
338     161000
339     285000
340     231000
341     124500
342     157000
343     345000
344     189500
345     270000
346     189000
347     377500
348     168500
349     375000
350     278000
351     240000
352     239500
353     177500
354     185000
355     191000
356     178000
357     185000
358     181316
359     166000
360     178000
361     174000
362     173000
363     225000
364     180500
365     187500
366     501837
367     372500
368     260000
369     185000
370     260000
371     181000
372      82500
373     215000
374     154000
375     200000
376     249000
377     187500
378     184000
379     278000
380     157000
381     152000
382     197500
383     240900
384     263435
385     220000
386     235000
387     213000
388     167900
389     158000
390     165000
391     158000
392     136000
393     148500
394     156000
395     128000
396     143000
397      76500
398     120500
399     124500
400      97000
401     130000
402     111000
403     125000
404     112000
405      97000
406     118000
407     119500
408     143750
409     146000
410     148500
411     123000
412     147000
413     137900
414     147000
415     148500
416     138000
417     128500
418     100000
419     148800
420     337500
421     462000
422     485000
423     555000
424     325000
425     256300
426     253293
427     398800
428     335000
429     404000
430     402861
431     451950
432     610000
433     582933
434     360000
435     296000
436     409900
437     255500
438     335000
439     274900
440     300000
441     324000
442     350000
443     280000
444     284000
445     269500
446     233170
447     386250
448     445000
449     290000
450     255900
451     213000
452     196000
453     184500
454     212500
455     230000
456     552000
457     382500
458     320000
459     248500
460     286500
461     254000
462     173000
463     173000
464     184000
465     167800
466     174000
467     174000
468     174000
469     175900
470     192500
471     181000
472     180000
473     160200
474     188500
475     200000
476     170000
477     189500
478     184100
479     195500
480     192000
481     178000
482     207500
483     236000
484     257500
485     244000
486     167000
487     179000
488     190000
489     156000
490     245000
491     181000
492     214000
493     168000
494     337000
495     403000
496     327000
497     340000
498     336000
499     265000
500     315000
501     260000
502     260000
503     263550
504     402000
505     248000
506     244600
507     275000
508     257500
509     287090
510     275500
511     245000
512     253000
513     468000
514     252678
515     210000
516     208300
517     225000
518     229456
519     229800
520     250000
521     370878
522     238500
523     310000
524     270000
525     252000
526     241000
527     264500
528     291000
529     263000
530     185000
531     234500
532     209000
533     159000
534     152000
535     143500
536     193000
537     203000
538     184900
539     159000
540     142000
541     153000
542     224243
543     220000
544     257000
545     189000
546     171500
547     120000
548     145000
549     184000
550     162000
551     160000
552      82000
553      76000
554     110000
555     135000
556     141000
557     122000
558     124100
559     129000
560     131400
561      62383
562     123000
563     275000
564     235000
565     280750
566     164500
567     173733
568     222000
569     195000
570     172500
571     180000
572     156000
573     172500
574     318750
575     211500
576     241600
577     180500
578     150000
579     154000
580     185000
581     185750
582     200000
583     206000
584     162000
585     256900
586     197900
587     163000
588     113000
589     230000
590     167900
591     213250
592     227000
593     130000
594     143000
595     117500
596     168500
597     172500
598     161500
599     141500
600     118000
601     127500
602     140000
603     177625
604     110000
605     167000
606     153000
607     145100
608     154000
609     177500
610     158000
611     124500
612     174500
613     122000
614      82500
615     110000
616     149500
617     175000
618     167000
619     128900
620     140000
621     147000
622     124000
623     187500
624     159000
625     256000
626     205000
627     193500
628     110000
629     104900
630     150000
631     156500
632     176000
633     149500
634     139000
635     155000
636     120000
637     153000
638     144000
639     176000
640     153000
641     135000
642     131000
643     123000
644     126000
645     115000
646     164900
647     113000
648     145500
649     102900
650      95000
651     152500
652     129900
653     132000
654      99900
655     135000
656     149000
657     114000
658     109500
659     125000
660     142900
661     156500
662      59000
663     105000
664     106000
665      78500
666     190000
667     154000
668     163000
669     200000
670     143500
671     135000
672     153000
673     157500
674     113500
675     133000
676      92900
677     128500
678      90000
679     138000
680     128000
681     139000
682     118900
683     138000
684     132500
685     133500
686     135000
687     144750
688     145000
689     127000
690     109500
691     115000
692     110000
693     128900
694     103500
695      66500
696     130000
697     129000
698     150000
699     107500
700      94550
701     124500
702     135000
703     103000
704      93000
705     129500
706      93000
707      80000
708      45000
709      37900
710      91300
711      99500
712     113000
713      87500
714     110000
715     106000
716     265979
717     160000
718     119000
719     168000
720      58500
721     143000
722      85000
723     124900
724     119000
725     146500
726      34900
727      44000
728     223500
729     149000
730     205000
731     137000
732     121000
733     128000
734     134900
735     117000
736     132500
737      93000
738     119000
739     100000
740     141500
741     133000
742      60000
743     105000
744     115000
745     150000
746     126500
747     214500
748     167500
749     155000
750     155000
751     179900
752     104000
753      62500
754     149000
755     103000
756     123000
757      97500
758     135000
759      70000
760     116000
761      88750
762     179000
763     179000
764     159900
765      61000
766     103600
767      63000
768     175000
769     139000
770     172500
771     113500
772     130000
773     149900
774     134900
775     137000
776     139000
777     165000
778     148000
779     165000
780      63900
781     161500
782     143000
783     135000
784      82500
785     190000
786     139600
787     122000
788     127500
789     121500
790      60000
791     154400
792     113000
793     125000
794      84000
795     139500
796     131000
797     105000
798     108000
799     162000
800     156500
801     316600
802     271900
803     213000
804     239900
805     239500
806     131000
807     118964
808     153337
809     147983
810     118858
811     118858
812     142953
813     148325
814     113722
815     269500
816     269500
817     269500
818     323262
819     297000
820     295493
821     332000
822     239900
823     212000
824     272500
825     239000
826     220000
827     200000
828     221800
829     194500
830     237000
831     173000
832     275000
833     233500
834     185000
835     152000
836     143000
837     231500
838     212000
839     207000
840     145000
841     138000
842     197900
843     204000
844     192000
845     200000
846     195000
847     227000
848     230000
849     187100
850     203000
851     201000
852     124000
853     140000
854     134900
855     150500
856     136500
857     143500
858     133500
859     123000
860     133900
861     133000
862     250000
863     254750
864     236500
865     261500
866     313000
867     198500
868     211000
869     220000
870     203000
871     279500
872     210000
873     219500
874     191000
875     178000
876     213000
877     144000
878     140000
879     293200
880     190000
881     190000
882     173500
883     170000
884     108000
885     167000
886     100000
887     198500
888     159500
889     127000
890     125000
891     320000
892     145500
893     118000
894      85000
895     120000
896      98000
897      99900
898      82000
899     119900
900     103500
901     112000
902     110000
903     122000
904     117000
905     160000
906     159434
907      60000
908     139500
909     197000
910     105000
911     135000
912     147500
913     137450
914     155000
915     177000
916     145000
917     137000
918     234000
919     205000
920     177500
921     160000
922     155000
923     163500
924     154900
925     205000
926     144800
927     174500
928     193000
929     158000
930     158500
931     224000
932     115000
933     137000
934     121000
935     124000
936     208000
937     315000
938     222000
939     147000
940     123000
941      78000
942      85000
943      75000
944     230000
945      57625
946     251000
947     239686
948     240000
949     215000
950     156450
951     173000
952     126000
953     173000
954     152000
955     137500
956     375000
957     315500
958     224500
959     410000
960     316500
961     201000
962     175000
963     204000
964     213500
965     220000
966     170000
967     315000
968     425000
969     139500
970     115000
971     162000
972     165000
973      91000
974     130000
975      86000
976     160000
977      80000
978      97000
979      88000
980     131900
981     131250
982     165500
983     112000
984     149000
985     143000
986     130000
987     196000
988     173000
989     176500
990     237500
991     206900
992     187500
993     165000
994     195500
995     192000
996     173000
997     177900
998     175000
999     286000
1000    247900
1001    180000
1002    180000
1003    181000
1004    183000
1005    188000
1006    194500
1007    185000
1008    189000
1009    188500
1010    355000
1011    325000
1012    387000
1013    115000
1014    334000
1015    133000
1016    215000
1017    226500
1018    175500
1019    181900
1020    235000
1021    220000
1022    272000
1023    161000
1024    175000
1025    185000
1026    146900
1027    292500
1028    180000
1029    159900
1030    205000
1031    157000
1032    306000
1033    133000
1034    151000
1035    111900
1036    123000
1037    111250
1038    181000
1039    103400
1040    100000
1041    100500
1042    106000
1043     85400
1044     89500
1045    111750
1046    140000
1047    143000
1048    148500
1049    110000
1050    394617
1051    426000
1052    385000
1053    446261
1054    317500
1055    372402
1056    417500
1057    383000
1058    390000
1059    460000
1060    379000
1061    250000
1062    316000
1063    615000
1064    412500
1065    284000
1066    284000
1067    421250
1068    370000
1069    336860
1070    367294
1071    192000
1072    274000
1073    266000
1074    370967
1075    234250
1076    219500
1077    155000
1078    154000
1079    207000
1080    195000
1081    219990
1082    191000
1083    159895
1084    187687
1085    179000
1086    193000
1087    190000
1088    176000
1089    188000
1090    213000
1091    217300
1092    186500
1093    226750
1094    184000
1095    176000
1096    225000
1097    185900
1098    284500
1099    315000
1100    250000
1101    291000
1102    350000
1103    279500
1104    290000
1105    350000
1106    341000
1107    287500
1108    271000
1109    301500
1110    235128
1111    214000
1112    232000
1113    240000
1114    264132
1115    245000
1116    227680
1117    257000
1118    297900
1119    247000
1120    212700
1121    250580
1122    182000
1123    226700
1124    250000
1125    250000
1126    339750
1127    205950
1128    256000
1129    230348
1130    207500
1131    141000
1132    188000
1133    192500
1134    146000
1135    159000
1136    155000
1137    173000
1138    170000
1139    182000
1140    163000
1141    193500
1142    189000
1143    190500
1144    175000
1145    179200
1146    187000
1147    193000
1148    153900
1149    128000
1150    144000
1151    135000
1152    115000
1153    119916
1154    142000
1155    192000
1156    140000
1157    290000
1158    372500
1159    196000
1160    171900
1161    178000
1162    165000
1163    146000
1164    146000
1165    179400
1166    172900
1167    300000
1168    285000
1169    290000
1170    305000
1171    328900
1172    160000
1173    170000
1174    223000
1175    170000
1176    200000
1177    345000
1178    245500
1179    217500
1180    324000
1181    162500
1182    150000
1183    290000
1184    205000
1185    174000
1186    183000
1187    150000
1188    145000
1189    215000
1190    140500
1191    240000
1192    141000
1193    147000
1194    135000
1195    145000
1196    142600
1197    135000
1198    170000
1199    299800
1200    185000
1201    173000
1202    178400
1203    176000
1204     98000
1205    109008
1206    135750
1207    155000
1208    180500
1209    174900
1210    140000
1211    145000
1212    179900
1213    168500
1214    140000
1215    145500
1216    142000
1217    141000
1218    153000
1219     72500
1220     52000
1221    118000
1222     87000
1223    141500
1224    119000
1225    141500
1226    165500
1227    112900
1228    201800
1229    163000
1230    139950
1231    174000
1232    165000
1233    227000
1234    135000
1235    124000
1236    140000
1237    136500
1238    185000
1239    163000
1240    166800
1241    139000
1242    166000
1243    136000
1244    133000
1245    116000
1246    137500
1247    130000
1248    180000
1249    139000
1250    110000
1251    100000
1252    118500
1253    146000
1254     89900
1255    114000
1256    140000
1257     86900
1258    139000
1259    106250
1260    171000
1261    139000
1262    186000
1263    157000
1264    148000
1265    242000
1266    116000
1267     94000
1268     98300
1269    127000
1270    159000
1271    125900
1272    155000
1273    138000
1274    112500
1275    105500
1276    127500
1277    130000
1278    150000
1279    109500
1280    140000
1281    167900
1282    136870
1283    143000
1284     73000
1285    157500
1286    122600
1287    111000
1288    256000
1289     64000
1290    139500
1291    118000
1292    200000
1293    119164
1294    122250
1295    120000
1296    155000
1297     78000
1298     95000
1299    115000
1300    147000
1301    140000
1302     46500
1303    112500
1304    107900
1305     65000
1306    295000
1307    139500
1308    153900
1309    132000
1310     98000
1311    114000
1312    130000
1313    129500
1314    129400
1315    161000
1316    163000
1317    128000
1318    122000
1319    116900
1320    325000
1321     55000
1322    184000
1323    110000
1324    131500
1325     97000
1326    115500
1327    138000
1328    108000
1329     79500
1330    153000
1331    109500
1332    124000

#### 3.3. Now we will combine all the steps in a function.

In [26]:
#Selecting features
def select_features(df, coeff_threshold=0.4, uniq_threshold=10):
    
    #Selecting columns with correlation above 0.4
    df_num = df.select_dtypes(['int64', 'float64'])
    correlation = df_num.corr()['SalePrice'].abs().sort_values()
    df = df.drop(correlation[correlation < coeff_threshold].index, axis=1)
    
    #Create a list of column names from documentation that are *meant* to be categorical
    nominal_features = ["PID", "MS SubClass", "MS Zoning", "Street", "Alley", "Land Contour", "Lot Config", "Neighborhood", 
                    "Condition 1", "Condition 2", "Bldg Type", "House Style", "Roof Style", "Roof Matl", "Exterior 1st", 
                    "Exterior 2nd", "Mas Vnr Type", "Foundation", "Heating", "Central Air", "Garage Type", 
                    "Misc Feature", "Sale Type", "Sale Condition"]
    #Which categorical columns have we still carried with us? We'll test these 
    transform_cat_cols = []
    for col in nominal_features:
        if col in df.columns:
            transform_cat_cols.append(col)

    #How many unique values in each categorical column?
    uniqueness_counts = df[transform_cat_cols].apply(lambda col: len(col.value_counts())).sort_values()
    drop_nonuniq_cols = uniqueness_counts[uniqueness_counts > uniq_threshold].index
    df = df.drop(drop_nonuniq_cols, axis=1)
    
    text_cols = df.select_dtypes(include=['object'])
    for col in text_cols:
        df[col] = df[col].astype('category')
    df = pd.concat([df, pd.get_dummies(df.select_dtypes(include=['category']))
        ], axis=1).drop(text_cols,axis=1)
    
    return df

### 4. Train and Test

Now that we cleaned the features and selected the most relevant ones, let's creat train_and_test() function for the linear regression with different cross validation k-values.

In [27]:
# Training and testing the model

def train_and_test(df2, k=0):
    df = df2.copy()
    np.random.seed(1)
    df = df.loc[np.random.permutation(df.index)]
    features = df.columns.drop("SalePrice")
  
    
    if k==0:
        train = df.iloc[0:1460]
        test = df.iloc[1460:]
        reg = LinearRegression()
        reg.fit(train[features], train["SalePrice"])
        predictions = reg.predict(test[features])
    
        #Calculating the model error
        mse = mean_squared_error(test["SalePrice"], predictions)
        rmse = np.sqrt(mse)
        return rmse
    
    if k==1:
        train = df.iloc[0:1460]
        test = df.iloc[1460:]
        reg = LinearRegression()
        reg.fit(train[features], train["SalePrice"])
        predictions_one = reg.predict(test[features])        
        
        mse_one = mean_squared_error(test["SalePrice"], predictions_one)
        rmse_one = np.sqrt(mse_one)
        
        reg.fit(test[features], test["SalePrice"])
        predictions_two = reg.predict(train[features])        
       
        mse_two = mean_squared_error(train["SalePrice"], predictions_two)
        rmse_two = np.sqrt(mse_two)
        
        avg_rmse = np.mean([rmse_one, rmse_two])
        print(rmse_one)
        print(rmse_two)
        return avg_rmse
    
    if k>1:
        reg = LinearRegression()
        kf = KFold(n_splits=k, shuffle=True)
        rmse_values = []
        for train_index, test_index, in kf.split(df):
            train = df.iloc[train_index]
            test = df.iloc[test_index]
            reg.fit(train[features], train["SalePrice"])
            predictions = reg.predict(test[features])
            mse = mean_squared_error(test["SalePrice"], predictions)
            rmse = np.sqrt(mse)
            rmse_values.append(rmse)
        print(rmse_values)
        avg_rmse = np.mean(rmse_values)
        return avg_rmse

transformed_df = transform_features(houses)
selected_df = select_features(transformed_df)

#Holdout-validation
model_results = train_and_test(selected_df)
model_results

C:\Users\dszweda\Anaconda3\lib\site-packages\pandas\core\series.py:4463: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().fillna(
<ipython-input-15-783a7ce9a925>:26: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_copy_2['Years Before Sale'] = years_sold
<ipython-input-15-783a7ce9a925>:27: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_copy_2['Years Since Remod'] = years_since_remod

26429.835039622954

In [28]:
#Simple cross-validation
model_results = train_and_test(selected_df, 1)
model_results

26429.835039622954
30873.542529071743

28651.68878434735

In [29]:
#k-fold cross-validation
model_results = train_and_test(selected_df, 4)
model_results

[36042.78440481057, 26069.05551944564, 25044.60677969058, 25795.265223777027]

28237.927981930952

### ConclusionÂ¶

In this project, we cleaned, wrangled, and transformed the housing data for the city of Ames, Iowa, the USA (2006-2010) for further using it to predict house sale prices with a linear regression algorithm of machine learning.

We created a pipeline of 3 functions to efficiently perform all the necessary manipulations. In addition, we applied 3 different approaches for train-test validation including holdout validation, simple cross-validation, and k-fold cross-validation.